.displayGroups {
    display: inline-flex;
    margin-left: 30%;
    margin-right: auto;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-family: "Poiret One";
    background-color: white;
    width: auto;

    align-content: center;

}
button {
    display:inline;
    font-family: "Fjalla One";
}

.header {
    margin: 15px auto 15px auto;
    text-align: center;
    font-family: "Fjalla One";
}

/*.container {*/
    /*display: block;*/
    /*margin: 15px auto 15px auto;*/
    /*background-color: #DAE5E3;*/
    /*padding: 15px auto 15px auto;*/
/*}*/
.group1 .group2 .group3 .group4 .group5 .group6 .group7 .group8 .group9 .group10 {
    background-color: black;
}