body {
    background-color: #809E9B;
}

.displayGroups {
    /*display: inline-flex;*/
    /*margin: auto;*/
    /*padding: 15px;*/
    /*border-radius: 15px;*/
    /*text-align: center;*/
    /*font-family: "Poiret One";*/
    /*background-color: white;*/
    /*width: auto;*/

    display: flex;
    justify-content:center;
    align-content: center;
    margin: 0 20%;
    height: auto;
    width: auto;
    /*margin-left: 30%;*/
    /*margin-right: auto;*/
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-family: "Poiret One";
    background-color: #809E9B;

}

.container {
    background-color: #809E9B;
}

button {
    display:inline;
    font-family: "Fjalla One";
}

.header {
    margin: 15px auto 15px auto;
    text-align: center;
    font-family: "Fjalla One";
}